<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Spotiflux</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_web_album_entity_index') }}">Albums</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_web_artist_entity_index') }}">Artists</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_web_track_entity_index') }}">Tracks</a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link">Admin</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>