{% extends 'base.html.twig' %}

{% block title %}Edit ArtistEntity{% endblock %}

{% block body %}
<div class="container p-5">
    <h1>Modifier</h1>

    <a href="{{ path('app_web_artist_entity_index') }}" class="btn btn-secondary mt-3 mb-3">Back to list</a>

    {{ include('web/artist_entity/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('web/artist_entity/_delete_form.html.twig') }}
</div>
{% endblock %}