{% extends 'base.html.twig' %}

{% block title %}Edit AlbumEntity{% endblock %}

{% block body %}
<div class="container p-5">
    <h1>Modifier</h1>

     <a href="{{ path('app_web_album_entity_index') }}" class="btn btn-secondary mt-3 mb-3">Back to list</a>

    {{ include('web/album_entity/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('web/album_entity/_delete_form.html.twig') }}
</div>
{% endblock %}
